header {
    margin-top: 125px;
}

header h1 {
    margin: 0.75rem 0;
    color: var(--primary-700);
}

hr {
    margin: 3rem 0;
    border: 1px var(--gray-200) solid;
}

.article {
    margin-bottom: 5rem;
}

.article h1 {
    font-size: 2.25rem;
}

.article img {
    width: 100%;
    height: 100%;
    max-height: inherit;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin-bottom: -6px;
}

.article .image-container {
    border-bottom: var(--secondary-300) solid 8px;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.3);
    max-height: 400px;
}

.article .text-container {
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}

.article .content p {
    font-size: 1.5rem;
}

.article-tiny {
}

.article-tiny img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

.article-tiny p {
    padding-bottom: 1rem;
    border-bottom: var(--secondary-300) solid 8px;
}

@media only screen and (max-width: 992px) {
    .article img {
        box-sizing: border-box;        
    }

    .article h1 {
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .article .content {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 576px) {

    .article-tiny .content {
        padding: 0;
        padding-top: 1rem;
    }
}

.source-container {
    color: var(--gray-500);
}

.article-tiny .image-container {
    box-shadow: inset 0 0 40px rgba(0,0,0,0.3);
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    height: 100%;
}


.article-tiny .content {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}